---
---

<nav>
    <div>
        <a>Prävention</a>
    </div>

    <div>
        <a>Schadenseingrenzung</a>
    </div>

    <div>
        <a>Reperation</a>
    </div>
</nav>

<style>
nav {
    background: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

div {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-align: center;
        font-family: sans-serif;
    }
}
</style>
